<footer class="footer">
  <small>
    Vitter app by <a href="http://eodos.net/">David Paul</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>